<div class="row mx-2 mb-2 shadow profile" style="background-color: rgb(239, 244, 247);border:solid 0.5px;border-color:rgb(194, 231, 243);min-height:516px">
    <div class="col-3 shadow" >
        <div  style="height: 500px;">
            <img class="p-4" src="../../assets/images/nati.jpg" style="width: inherit;height:350px;">
            <p  class="pl-4" style="font-size: 35px;">Natalia Portmen</p>   
            <p style="text-align:center">Actress</p>
        </div>
        
    </div>
    <div  class="col-9  my-2">
        <h4 class="px-3" style="color: rgb(96, 84, 146);display:inline;">Profile</h4><a id="edit" style="border:none;" [routerLink]="['/user/edit']"><i class="fas fa-pencil-alt">edit</i></a>
        <hr>
        <h5 class="pl-3 pb-2" style="color: rgb(60, 52, 92);">Personal Details</h5>
       <div class="row">
        <div class="col-5">
        <table>
            <tr>
                <td>
                    <p class="pl-5 font-weight-bold">Email:<p>
                </td>
                <td>
                    <p>&nbsp;&nbsp;NataliaPort123@gmail.com</p>
                </td>   
            </tr>
            <tr>
                <td>
                    <p class="pl-5 font-weight-bold">Phone:</p>
                </td>
                <td>
                    <p>&nbsp;&nbsp;+91 9827931998</p>
                </td>   
            </tr>
            <tr>
                <td>
                    <p class="pl-5 font-weight-bold">Gender:</p>
                </td>
                <td>
                    <p>&nbsp;&nbsp;Female</p>
                </td>   
            </tr>
            <tr>
                <td>
                    <p class="pl-5 font-weight-bold">Nationality:</p>
                </td>
                <td>
                    <p>&nbsp;&nbsp;Israel</p>
                </td>   
            </tr>
        </table>
    </div>
    <div class="col-7">
        <table>
            <tr>
                <td>
                    <p class="pl-5 font-weight-bold">Marital Status:<p>
                </td>
                <td>
                    <p>&nbsp;&nbsp;Single</p>
                </td>   
            </tr>
            <tr>
                <td>
                    <p class="pl-5 font-weight-bold">City:</p>
                </td>
                <td>
                    <p>&nbsp;&nbsp;Los Angeles</p>
                </td>   
            </tr>
            <tr>
                <td>
                    <p class="pl-5 font-weight-bold">Country:</p>
                </td>
                <td>
                    <p>&nbsp;&nbsp;United States of America</p>
                </td>   
            </tr>
        </table>
    </div>
</div> 
        <hr>
        <h5 class="pl-3 pb-2" style="color: rgb(60, 52, 92);">Employment Details</h5>
    <div class="row">
        <div class="col-5">
        <table>
            <tr>
                <td>
                    <p class="pl-5 font-weight-bold">Designation:<p>
                </td>
                <td>
                    <p>&nbsp;&nbsp;Actress</p>
                </td>   
            </tr>
            <tr>
                <td>
                    <p class="pl-5 font-weight-bold">Group:</p>
                </td>
                <td>
                    <p>&nbsp;&nbsp;Hollywood</p>
                </td>   
            </tr>
            
            <tr>
                <td>
                    <p class="pl-5 font-weight-bold">Experience:</p>
                </td>
                <td>
                    <p>&nbsp;&nbsp;10 yrs</p>
                </td>   
            </tr>
          
        </table>
    </div>
    <div class="col-7">
        <table>
            <tr>
                <td>
                    <p class="pl-5 font-weight-bold">Location:</p>
                </td>
                <td>
                    <p>&nbsp;&nbsp;California</p>
                </td>   
            </tr>
        </table>
    </div>
</div>
    </div>
</div>
