<ul class="navbar-nav align-center">

    <!-- Sidebar - Brand -->
    <button class="sidebar-brand menu d-flex bg-gradient-primary border-0 my-1 align-items-center p-3 justify-content-center">
        <div class="sidebar-brand-icon" title="expand">
            <i class="fad icon fa-font fa-2x f1" ></i> 
            
        </div>  
       
        <h4 id="exp" class="exp toggle-l admin" >Admin</h4> 
    </button>
   



    <!-- Divider -->
    

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active " routerLinkActive="active">
        <a class="nav-link icon d-flex align-items-center p-4 justify-content-center" title="Dashboard" [routerLink]="['/dashboard']">
            <i class="fas fa-tachometer-alt fa-2x"></i>
            <h5 class="exp toggle-l m-auto">Dashboard</h5>
        </a>
    </li>

     <!-- Divider -->
     <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link icon d-flex align-items-center p-4 justify-content-center" title="Users" [routerLink]="['/users']">
            <i class="fas  fa-users fa-2x"></i>
            <h5 class="exp  m-auto ">Users&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link icon  d-flex align-items-center p-4 justify-content-center" title="Groups"  [routerLink]="['/groups']">
            <i class="fas fa-layer-group fa-2x"></i>
            <h5 class="exp m-auto">Groups&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link icon d-flex align-items-center p-4 justify-content-center" title="Domain"  [routerLink]="['/domain']">
            <i class="fad fa-laptop-code fa-2x"></i>
            <h5 class="exp m-auto ">Domain&nbsp;&nbsp;&nbsp;&nbsp;</h5>
        </a>
    </li>

    <li class="nav-item active">
        <p class="nav-link icon d-flex align-items-center p-4 justify-content-center" style="margin-top: 100px;">
            <i class="fad toggle-l fa-chevron-circle-left fa-2x"></i>
        </p>
    </li>
    

</ul>
